h1{color: darkblue;}

b{
    text-transform: capitalize;
    color: black;
}
body{
    background-image: url(new\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    background-color:transparent;
    color: blue;
    border-radius: 20px;
    cursor:pointer;
    padding-left: 50px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.inputcontainer{
    padding: 8px;
    background-color: transparent;
    width: 25%;
    border-radius: 50px;
    border-color: lightseagreen;
    border-bottom: 0cap;
    border-left: 2px;
    border-right: 0cqh;
    outline: invert;
    content: icon;
    margin-left: 5px;
}
.box
{
    background-color: transparent;
}
body{
    text-align: center;
    
}
#pincode{
    padding: 5px;
    
}
@media screen and (max-width:600px){
    .inputcontainer{
        margin: 10px;
        width: 80%;
    }
    body{
        text-align: left;
    }
}